.bBlocksPath {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    svg {
        border-radius: 10px;
        overflow: visible;
        transform: rotate(0deg);
        // display: none;
    }

    path {
        stroke-width: 2; // Adjust the stroke width as needed
    }

    text {
        font-size: 24px; // Adjust the font size as needed
        // fill: rgb(7, 214, 0); // Adjust the text color as needed
    }

    .pathPrefix {
        font-size: 18px; // Adjust the font size as needed
        margin-right: 5px; // Adjust the margin as needed
    }

    .paths {
        // Add styles for paths if needed
    }
}
