$primaryColor: #4527a4;

html {
	scroll-behavior: smooth;
}

.wp-block-b-blocks-product-review {
	* {
		box-sizing: border-box;
	}

	.main {
		background-color: oldlace;
		padding: 3em;
		.header-rating {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 20px;
			.span {
				font-size: 28px;
			}
		}
		.review-body {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 20px;
			.review-left-features {
				display: grid;
				gap: 15px;
			}
		}
		.review-footer-button span {
			background: #ed6f57;
			color: #fff;
			padding: 12px 50px;
			margin: 20px 20px 0 0;
			cursor: pointer;
			text-align: center;
			font-size: black;
			text-decoration: none;
		}
		.review-left {
			display: grid;
			gap: 20px;
			.review-left-content {
				display: grid;
				gap: 5px;
			}
		}
		.review-footer {
			margin-top: 30px;
			display: grid;
			gap: 20px;
		}
	}

	.bBlocksProductReview {
		display: flex;
		.stars {
			display: flex;
			align-items: center;

			.star {
				display: inline-block;
				position: relative;
				width: 20px;
				height: 20px;
				overflow: hidden;

				> * {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}

				svg {
					fill: #ccd6df;
					vertical-align: initial;
				}

				.starFill {
					width: 0px;
					overflow: hidden;

					svg {
						width: 20px;
						height: 100%;
						fill: #ffbb38;
					}
				}
			}
		}
	}
}
